html { 
  background: url(../restaurant.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1,p{
color: black;
background-color: bisque;
text-align: center;
}
.text{
width: 400px;

}
.contact-text{
  width: 500px;
  background-color: bisque;
}
#content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 15px;
}
nav{
  display: flex;
  gap: 20px;
}
nav>div{
  margin-top: 20px;
  background-color: bisque;
  font-size: 2rem;
}
.contact-img{
    width: 500px;
    height: auto;
}