html { 
  background: url(../restaurant.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1,p{
color: black;
background-color: bisque;
text-align: center;
}
.text{
width: 400px;

}
.contact-text{
  width: 500px;
  background-color: bisque;
}
#content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 15px;
}
nav{
  display: flex;
  gap: 20px;
}
nav>div{
  margin-top: 20px;
  background-color: bisque;
  font-size: 2rem;
}
img{
    width: 320px;
    height: auto;
}
*{
  padding: 0;
  margin: 0;
}
.container>div{
  background-color: rgba(255, 228, 196,70%); 
}
.container{
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
.nav-item{
  background-color: aqua;
}
.hidden{
  background-color: bisque;
 
}
